version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: nestjsuser
      POSTGRES_PASSWORD: nestjspassword
      POSTGRES_DB: nestjsdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs_app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_started
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: nestjsuser
      DATABASE_PASSWORD: nestjspassword
      DATABASE_NAME: nestjsdb

volumes:
  postgres_data:
